body {
  background-color: #f0f0f0;
}
.App {
  background-color: #3f3160;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
.to-do-form input {
  background-color: rgb(27, 112, 137);
  border: 0;
  width: 220px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
}
.to-do-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.to-do-form :focus {
  outline: none;
}
.to-do-form button {
  background-color: #ca9c18;
  border: 0;
  font-size: 20px;
  width: 80px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
}
